---
layout: default
title: Injector Tuning Tool
permalink: /values/injectors
js:
    - /assets/vendor/knockout-latest.js
    - /assets/vendor/math.js
    - /assets/js/ref/injectors.js
    - /assets/js/util.js
    - /assets/js/injector-values.js
---
{% include snippets/section_title.html title="Fuel Injectors" %}
<form class="row" onsubmit="return false;">
    <div class="mb-3 col-md-12 row">
        <label class="col-md-3 col-form-label">Select:</label>
        <div class="col-md-9">
            <select class="form-select" data-bind="options: injectors.configs, value: injectors.selectedConfig, optionsText: 'title', optionsCaption: 'Select Configuration'"></select>
        </div>
    </div>
</form>

{% include snippets/section_title.html title="Injector Values" %}
<p>
    The <code>KRKTE</code> and <code>KVB</code> values are for specfic vehicle configurations, they will need to be scaled if using a different engine displacement or fuel pressure.
    In general, these values may need to be adjusted based on your specific setup and tuning goals.
</p>
<form class="row" onsubmit="return false;">
    <div class="mb-3 col-md-6 row">
      <label class="col-md-3 col-form-label">KRKTE</label>
      <div class="col-md-9">
          <div class="input-group">
            <input class="form-control" type="number" data-bind="value: injectors.krkte" readonly />
            <span class="input-group-text">ms/%</span>
          </div>
      </div>
    </div>
    <div class="mb-3 col-md-6 row">
      <label class="col-md-3 col-form-label">KVB</label>
      <div class="col-md-9">
          <div class="input-group">
            <input class="form-control" type="number" data-bind="value: injectors.kvb" readonly />
            <span class="input-group-text">cc/m</span>
          </div>
      </div>
    </div>
    <div class="mb-3 col-md-6 row">
      <label class="col-md-3 col-form-label">TEMIN</label>
      <div class="col-md-9">
          <div class="input-group">
            <input class="form-control" type="number" data-bind="value: injectors.temin" readonly />
            <span class="input-group-text">ms</span>
          </div>
      </div>
    </div>
    <div class="mb-3 col-md-6 row">
      <label class="col-md-3 col-form-label">TEMINVA</label>
      <div class="col-md-9">
          <div class="input-group">
            <input class="form-control" type="number" data-bind="value: injectors.teminva" readonly />
            <span class="input-group-text">ms</span>
          </div>
      </div>
    </div>
    <div class="mb-3 col-md-12 row">
      <label class="col-md-2 col-form-label">TVUB</label>
      <div class="col-md-10">
          <div class="input-group">
            <input class="form-control" type="text" data-bind="value: injectors.tvub" readonly />
            <span class="input-group-text">V</span>
          </div>
      </div>
    </div>
</form>
