<div class="mt-auto">
    <footer class="footer py-3 px-3 mt-4 d-flex flex-wrap justify-content-between align-items-center border-top">
        <ul class="nav col-md-4 justify-content-start list-unstyled d-flex">
            <li class="ms-3"><a class="text-body-secondary" href="{{ site.repo_url }}" aria-label="GitHub"><i class="bi bi-github"></i></a></li>
        </ul>
        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3">{% include kofi.html %}</li>
        </ul>
    </footer>
</div>
